<h2>Update the drone</h2>
<form method="POST" action="/drones/{{drone._id}}/edit">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Name</label>
    <input name="myDrone" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="{{drone.name}}">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Propellers</label>
    <input name="myPropellers" type="number" class="form-control" id="exampleInputDescription1" value="{{drone.propellers}}">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword2" class="form-label">Max Speed</label>
    <input name="myMaxspeed" type="number" class="form-control" id="exampleInputDescription2" value="{{drone.maxSpeed}}">
  </div>
  
  <button type="submit" class="btn btn-success">Update</button>
</form>